@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=League+Spartan:wght@100..900&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    padding: 1rem 0;
}

h1 {
    font-size: 24px;
}

main {
    background-color: #fafafa;
    padding: 3rem 5rem;
}

.lune {
    display: flex;
    align-items: center;
}

.img-lune {
    width: 20%;
    height: 35%;
}

.first-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.search {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 15px 16px;
    width: 30%;
    background-color: #fff;
}

input {
    border: none;
    margin-left: 1rem;
}

.first-line {
    display: flex;
}

.pays {
    background-color: #fff;
    margin: 0 4rem 4rem 2rem;
    border-radius: 5px;
}

.drapeau {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.div-info {
    padding: 0 0 2rem 1.5rem;
    line-height: 25px;
}

span {
    font-weight: 500;
}

h2 {
    margin: 1.5rem 0 1rem;
}

.info {
    display: flex;
}

.title {
    margin-right: 5px;
    font-weight: 700;
}